// About page (/about)

#about {
  p {
    margin: auto;
  }
  .body {
    padding: 1em;
    .title {
      text-align: center;
    }
    .content {
      margin: 1em;
      text-align: justify;
      p {
        margin: 0;
      }
    }
  }
  .history {
    text-align: center;
    width: 70%;
    margin: 15px;
  }
  .table-header-bg {
    background-color: #4b49b7;
    color: white;
    font-size: 1.2em;
  }

  .table-body {
    padding: 1em;
    .title {
      text-align: center;
    }
    .content {
      text-align: center;
    }
  }
}
